.simple-modal{
  position: fixed;
  z-index: 1100;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.simple-modal.is-open{
  display: flex;
}

.simple-modal-container{
  position: relative;
  padding: 1rem;
  background-color: var(--white);
  /* border: 3px solid var(--gray); */
  border-radius: var(--radius-8);
  -webkit-border-radius: var(--radius-8);
  -moz-border-radius: var(--radius-8);
  -ms-border-radius: var(--radius-8);
  -o-border-radius: var(--radius-8);
  min-width: 320px;
  max-width: 90%;
  /* height: 80vh; */
}

.simple-modal-body{
  /* position: relative; */
  height: 75vh;
  overflow-y: auto;
  /* overflow-y: auto; */
  /* max-height: 90vh; */
}

.simple-modal-body::-webkit-scrollbar-thumb{
  background-color: var(--gray);
  border-radius: var(--radius-12);
}

@media (min-width: 768px) {
  .simple-modal-container{
    width: 60%;
    max-width: 60%;
  }
}


