/* Arroba */
#at-sign {
	background-color: var(--purple);
	color: var(--white);
}

/* Botón de Guardar */
#save-button {
	width: fit-content;
	color: var(--gray);
	background-color: var(--purple);
	border-color: var(--gray);
}

#save-button:hover {
	background-color: var(--gray);
	border-color: var(--purple);
	color: var(--purple);
}

#save-button:active {
	background-color: var(--purple);
	border-color: var(--purple);
	color: var(--gray);
}

/* Foto de perfil */
#profile-picture {
	width: 50%;
	filter: invert(44%) sepia(81%) saturate(737%) hue-rotate(211deg) brightness(98%) contrast(92%);
}

@media (min-width: 768px) {
	#profile-picture {
		width: 100%;
	}
}

@media (min-width: 1024px) {
	#profile-picture {
		width: 80%;
	}
}

@media (min-width: 1440px) {
	#profile-picture {
		width: 60%;
	}
}

