.swiperButton {
	width: 100px !important;
}

.swiperSlider {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.previewName {
	width: 125px;
}

#modalBody {
	height: 30vh;
}

#swiper {
	--swiper-pagination-color: var(--purple);
}

#descriptionTextArea {
	resize: none;
	height: 100px;
}

#colorPreview {
	width: 100px;
	height: 50px;
	border-radius: 3px;
}

#spinner {
	color: var(--purple);
}

#swiperSliderPreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-top: 75px;
  overflow-y: scroll;
}
