/* Tarjeta de Registro */
#registerCard
{
  width: 90%;
}

.swiperSlide
{
  max-height: 70vh !important;
}

/* Campos de Texto */
.inputIcon
{
  position: absolute !important;
  padding-left: 10px !important;
  padding-top: 10px !important;
}

.input
{
  padding-left: 30px !important;
}

#passwordInput
{
  padding-right: 30px !important;
}

#showPassword {
  position: absolute;
  right: 10px;
  padding-top: 10px;
  cursor: pointer;
}

/* Correo electrónico */
#emailSlider
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Datos personales */
#dataSlider
{
  position: relative;
  overflow-y: auto;
}

/* Foto de perfil */
#pictureSlide
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#picture
{
  width: 175px;
}

#text-avatar
{
  cursor: pointer;
}

#add-profile-picture
{
  cursor: pointer;
  font-size: x-large;
  top: 15%;
  left: 90%;
}

#delete-profile-picture
{
  cursor: pointer;
  font-size: x-large;
  top: 15%;
  left: 90%;
}

@media screen and (min-width: 768px)
{
  #registerCard
  {
    width: 600px;
  }

  #registerCard .swiperSlide
  {
    margin: 10px 20px;
  }
}

/* Código de Verificación */
#verificationCodeSlide
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Registro exitoso */
#confirmationSlide
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Botones */
.button
{
  background-color: var(--green) !important;
  border-radius: var(--radius-12) !important;
  color: var(--gray) !important;
  border: none !important;
  padding: 8px 20px !important;
}

.button:hover
{
  box-shadow: inset 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
}

#showPasswordButton
{
  background-color: var(--green);
  color: var(--gray);
  border: none;
}

#showPasswordButton:hover
{
  box-shadow: inset 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

/* Íconos de validación */
.form-control.is-valid,
.form-control.is-invalid {
  background-image: none !important;
  padding-right: inherit !important;
}

/* Campos de código de verificación */
.codeInput
{
  margin: 0 5px;
  width: 40px !important;
  height: 50px !important;
  padding: 0 !important;
  text-align: center !important;
  font-size: 20px !important;
}
