.card_login{
    min-height: 400px;
    width: 100%;
    margin: auto;
}


.card_singUp{
    min-height: 325px;
    width: 100%;
    margin: auto;
}

.btn_login{
    background-color: var(--green);
    border-radius: var(--radius-12);
    -webkit-border-radius: var(--radius-12);
    -moz-border-radius: var(--radius-12);
    -ms-border-radius: var(--radius-12);
    -o-border-radius: var(--radius-12);
    color: var(--gray);
    border: none;
    padding: 8px 20px;
}
.btn_login:disabled{
  background-color: var(--greenHover);
}

.btn_login:hover{
    box-shadow: inset 0px 10px 15px -3px rgba(0,0,0,0.1);
}

@media (min-width: 576px) {
    .card_login, .card_singUp{
        width: 350px
    }
 }
